body {
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-repeat: repeat;
  background-size: cover;
}

header {
  background: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1153&q=80');
  position: relative;
  background-color: black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
}
.card {
  width: 233px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(141, 141, 141, 0.37);
}
.card:hover {
  background-color: rgba(235, 231, 231, 0.37);
  box-shadow: 5px 10px 8px #2424248c;
}
.image {
  width: 100%;
}
.modal-header {
  background-color: rgba(112, 112, 112, 0.322);
}

.btn-close {
  top: 5;
  right: 5;
}

.modal-body {
  padding: 0;
  border-left: 5px solid rgb(243, 243, 243);
  border-right: 5px solid rgb(243, 243, 243);
}

.modal-footer {
  background-color: rgb(243, 243, 243);
}

.filter:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.card-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;

  margin: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
